<mat-list *ngIf = "(this.listOfStudyGroups !== 'undefined' && this.listOfStudyGroups.length > 0)">
  <div mat-subheader   [style.background]="'lightgreen'">
    <h6>List of Groups</h6>
    <span class="example-spacer"></span>
    <a class="cancel-icon" (click) = "onCancelClick('cancel')"><mat-icon mat-list-icon>cancel</mat-icon></a>
  </div>
  <mat-list-item role="listitem" *ngFor = "let studygroup of listOfStudyGroups">
    <mat-icon mat-list-icon>list</mat-icon>
    <div mat-line><h6>{{studygroup.name}}</h6>
    </div>
  </mat-list-item>
</mat-list>


<mat-list *ngIf = "(this.listOfStudyGroups == 'undefined' && this.listOfStudyGroups.length == 0)">
  <div mat-subheader  [style.background]="'lightgreen'">
  <h6> List of Groups</h6>
    <span class="example-spacer"></span>
    <a class="cancel-icon" (click) = "onCancelClick('cancel')"><mat-icon mat-list-icon>cancel</mat-icon></a>
  </div>
  <mat-list-item role="listitem">
    <div mat-line [style.color] = "'red'"><h6 >Error loading list of<br> Groups from database</h6>
    </div>
  </mat-list-item>
</mat-list>

