.jumbotron {
  background: #90EE90;
  color: #FFF;
  border-radius: 0px;
}
.jumbotron-sm { padding-top: 15px;
  padding-bottom: 15px; }
.jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}
