<div>
  <mat-list>

    <div mat-subheader  [style.background]="'lightgreen'">
      <h6>Profile</h6>
      <span class="example-spacer"></span>
      <a class="hover" (click) = "onCancelClick()">
        <mat-icon mat-list-icon >cancel</mat-icon>
      </a>
    </div>

    <div class="hover">
      <mat-list-item (click) = "updateProfile()">
        <mat-icon mat-list-icon >list</mat-icon>
        <div mat-line><h6>Update profile</h6>
        </div>
      </mat-list-item>
    </div>

    <mat-divider></mat-divider>

    <div class="hover">
      <mat-list-item (click)="logOut()">
        <mat-icon mat-list-icon>list</mat-icon>
        <div mat-line ><h6>Logout </h6>
        </div>
      </mat-list-item>
    </div>

  </mat-list>
</div>
