<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/images/app/logo.JPG" class="logo">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a routerLink="/">Home</a></li>
      <li *ngIf = "_AuthenticationService.loggedIn() == false" [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a routerLink="/signup">Sign up</a></li>
      <li *ngIf = "_AuthenticationService.loggedIn() ==false" [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a routerLink="/login">Login</a></li>
      <li *ngIf = "_AuthenticationService.loggedIn()" ><a (click) = "onLogOutClick()" href="#">Logout</a></li>
      <li *ngIf = "_AuthenticationService.loggedIn()" [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a routerLink="/dashboard">dashboard</a></li>
      <li *ngIf = "_AuthenticationService.loggedIn()" [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a routerLink="/profile">Profile</a></li>
      <li [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a href="/#">Give Back</a></li>
      <li [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a routerLink="/create-group">Create Groups</a></li>
      <li [routerLinkActive] ="['active']" [routerLinkActiveOptions] ="{exact: true}"><a routerLink="/contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
