<mat-toolbar [style.background]="'lightgreen'" class="row">
  <mat-toolbar-row>
     <span matTooltip="Create a group">
    <button mat-icon-button color="primary" >
    <mat-icon aria-label="Create Group" >group</mat-icon>
    </button>
      </span>

    <span class="example-spacer"></span>

    <span matTooltip="Information">
    <button mat-icon-button color="primary" (click)="onClickProfileIcon('Information')" >
    <mat-icon aria-label="Create Group" >info</mat-icon>
    </button>
      </span>

    <span matTooltip="Profile">
    <button mat-icon-button color="primary" (click)="onClickProfileIcon('Profile')" >
    <mat-icon aria-label="Create Group" >person</mat-icon>
    </button>
      </span>
  </mat-toolbar-row>
</mat-toolbar>
