<div [hidden] = "isCancelClicked">
<mat-list>
  <div mat-subheader  [style.background]="'lightgreen'">
    <h6>Select</h6>
    <span class="example-spacer"></span>
    <a class="cancel-icon" (click) = "onCancelClick('cancel')"><mat-icon mat-list-icon>cancel</mat-icon></a>
  </div>

  <div class="hover">
  <mat-list-item (click) = "onSelectDecision('showListOfStudyGroupComponent')">
    <mat-icon mat-list-icon>list</mat-icon>
    <div mat-line><h6>List of study Groups</h6>
    </div>
  </mat-list-item>
  </div>

  <mat-divider></mat-divider>

  <div class="hover">
  <mat-list-item (click) = "onSelectDecision('showCreateGroupComponent')">
    <mat-icon mat-list-icon>group</mat-icon>
    <div mat-line><h6>Create study Groups</h6>
    </div>
  </mat-list-item>
</div>

</mat-list>
</div>
