
<!--currect div -->
<!--
<div *ngIf = "showChatHomeComponent == true" >
<app-chat-home-page
(messageEvent)="executeOnReceiveEMittedMessageFromChatHomePageComponent($event)"
[listOfGroupMembers]="listOfGroupMembers"
>   </app-chat-home-page>
</div>

<div *ngIf = "showChatCommunicationComponent == true">
<app-chat-communication-page
[usersForChatCommunicationPageComponent]="usersForChatCommunicationPageComponent"
></app-chat-communication-page>
</div>
-->

<!--Take out for working solution-->
<div >
<app-chat-communication-page
[usersForChatCommunicationPageComponent]="usersForChatCommunicationPageComponent"
></app-chat-communication-page>
</div>
