<div *ngIf="showShowSelectComponent " class="col-xs-3" (click)="selectStudyGroup('hideShowSelectComponent')">
  <app-show-select></app-show-select>
</div>

<div *ngIf="showDecisionCOmponent" class="col-xs-3">
<app-decision (messageEvent)="executeOnReceiveEMittedMessageFromChild($event)"></app-decision>
</div>

<div *ngIf="showListOfStudyGroupComponent" class="col-xs-3">
  <app-list-of-study-group (messageEvent)="executeOnReceiveEMittedMessageFromChild($event)"></app-list-of-study-group>
</div>





