<div *ngIf="showProfileComponent" class="width-right-flow" ngDraggable>
  <app-profile></app-profile>
</div>

<div *ngIf="showShowSelectComponent " class="width-left-flow" (click)="selectStudyGroup('hideShowSelectComponent')"
     ngDraggable>
  <app-show-select></app-show-select>
</div>

<div *ngIf="showDecisionCOmponent" class="width-left-flow"  ngDraggable >
<app-decision (messageEvent)="executeOnReceiveEMittedMessageFromChild($event)"></app-decision>
</div>

<div *ngIf="showListOfStudyGroupComponent" class="width-left-flow" ngDraggable >
  <app-list-of-study-group (messageEvent)="executeOnReceiveEMittedMessageFromChild($event)"
                           [listOfStudyGroups]="listOfStudyGroups"
                           [listOfStudyGroupError] = "listOfStudyGroupError"></app-list-of-study-group>
</div>








