<div class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">THE COLABORATOR</h2><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" routerLink="/update-info" >
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/home/update.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Update</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/home/giveback.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Give back</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/home/assignment.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Assignment</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/home/examination.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Past Examination</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" routerLink="/create-group">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/home/group.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Create Groups</h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/home/chat.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Chat</h4>
        </div>
      </div>
    </div>
  </div>
</div>
