<div class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">CREATE GROUP</h2><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" routerLink="/create-group/create-exam-group">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/create-group/create-exam-group.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Create Exam Group</h4>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" routerLink="/create-group/create-exam-group">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-responsive" src="assets/images/create-group/create-assignment-group.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Create Assignment Group </h4>
        </div>
      </div>
    </div>
  </div>
</div>
